Repository jimsheldon/terraform-containerdays: changes, and which Drone steps are due for each by the changed paths.
All: dev_aws_credentials, prod_aws_credentials

.drone.yml:

---
kind: pipeline
type: docker
name: default

concurrency:
  limit: 1

trigger:
  branch:
  - master

volumes:
- name: dot-aws
  temp: {}

steps:

- name: files_changed
  image: alpine:3
  commands:
  - apk add git
  - |-
    for DIR in $(git --no-pager diff --name-only $DRONE_COMMIT_BEFORE..$DRONE_COMMIT_AFTER | sed "s/^\\(\\.\\/\\)*\\(.*\\)/\\2/" | sed "s/^\\(.*\\)\\/.*/\\1/" | sort | uniq ); do
      for VERSION in $(find . -name terraform.version | sed "s/^\\(\\.\\/\\)*\\(.*\\)/\\2/" | sed "s/^\\(.*\\)\\/.*/\\1/" | sort | uniq); do
        case "$DIR" in
          "$VERSION"*)
            echo $VERSION >> terraform_dirs
            echo "INFO  Adding $VERSION to terrafom_dirs";;
        esac
      done
    done

- name: dev_aws_credentials
  image: amazon/aws-cli:2.0.31
  volumes:
  - name: dot-aws
    path: /root/.aws
  environment:
    ASSUME_ROLE_EXTERNAL_ID:
      from_secret: assume_role_external_id
    AWS_ACCOUNT_ID:
      from_secret: demo_account_id
  commands:
  - aws configure --profile dev set role_arn "arn:aws:iam::$AWS_ACCOUNT_ID:role/DroneTerraformContainerDays"
  - aws configure --profile dev set region eu-west-1
  - aws configure --profile dev set credential_source Ec2InstanceMetadata
  - aws configure --profile dev set external_id $ASSUME_ROLE_EXTERNAL_ID
  when:
    paths:
      include:
      - dev/**

- name: prod_aws_credentials
  image: amazon/aws-cli:2.0.31
  volumes:
  - name: dot-aws
    path: /root/.aws
  environment:
    ASSUME_ROLE_EXTERNAL_ID:
      from_secret: assume_role_external_id
    AWS_ACCOUNT_ID:
      from_secret: prod_account_id
  commands:
  - aws configure --profile prod set role_arn "arn:aws:iam::$AWS_ACCOUNT_ID:role/DroneTerraformContainerDays"
  - aws configure --profile prod set region eu-west-1
  - aws configure --profile prod set credential_source Ec2InstanceMetadata
  - aws configure --profile prod set external_id $ASSUME_ROLE_EXTERNAL_ID
  when:
    paths:
      include:
      - prod/**

- name: dev_terraform_${DRONE_BUILD_EVENT}
  image: alpine:3
  volumes:
  - name: dot-aws
    path: /root/.aws
  environment:
    # workaround for https://github.com/terraform-providers/terraform-provider-aws/issues/5018
    AWS_METADATA_URL: http://localhost/not/existent/url
    # workaround for https://github.com/hashicorp/aws-sdk-go-base/issues/7
    AWS_SDK_LOAD_CONFIG: 1
    AWS_PROFILE: dev
  commands:
  - apk add bash curl git
  - git clone --branch v1.0.2 https://github.com/tfutils/tfenv.git /opt/tfenv
  - ln -s /opt/tfenv/bin/* /usr/local/bin
  - |-
    ROOT_DIR=$(pwd)
    for DIR in $(cat terraform_dirs | grep ^dev); do
      cd $ROOT_DIR/$DIR
      tfenv install $(cat terraform.version)
      tfenv use $(cat terraform.version)
      terraform init
      if [ "$DRONE_BUILD_EVENT" == "pull_request" ]; then
        terraform plan
      elif [ "$DRONE_BUILD_EVENT" == "push" ]; then
        terraform apply
      fi
    done

- name: prod_terraform_${DRONE_BUILD_EVENT}
  image: alpine:3
  volumes:
  - name: dot-aws
    path: /root/.aws
  environment:
    # workaround for https://github.com/terraform-providers/terraform-provider-aws/issues/5018
    AWS_METADATA_URL: http://localhost/not/existent/url
    # workaround for https://github.com/hashicorp/aws-sdk-go-base/issues/7
    AWS_SDK_LOAD_CONFIG: 1
    AWS_PROFILE: prod
  commands:
  - apk add bash curl git
  - git clone --branch v1.0.2 https://github.com/tfutils/tfenv.git /opt/tfenv
  - ln -s /opt/tfenv/bin/* /usr/local/bin
  - |-
    ROOT_DIR=$(pwd)
    for DIR in $(cat terraform_dirs | grep ^prod); do
      cd $ROOT_DIR/$DIR
      tfenv install $(cat terraform.version)
      tfenv use $(cat terraform.version)
      terraform init
      if [ "$DRONE_BUILD_EVENT" == "pull_request" ]; then
        terraform plan
      elif [ "$DRONE_BUILD_EVENT" == "push" ]; then
        terraform apply
      fi
    done

wtf
  dev/eu-west-1/default/terraform.tf
Due: dev_aws_credentials

paths
  .drone.yml
Due: none

paths
  .drone.yml
  .drone_v1.yml
Due: none

more paths
  .drone.yml
Due: none

add prod
  .drone_v2.yml
  prod/eu-west-1/default/terraform.tf
  prod/eu-west-1/default/terraform.version
Due: prod_aws_credentials

tfenv
  .drone.yml
Due: none

fix-prod
  prod/eu-west-1/default/terraform.tf
Due: prod_aws_credentials

info
  .drone.yml
  .drone_v1.yml
  .drone_v2.yml
Due: none

fixes (#6)
  .drone_v1.yml
  .drone_v2.yml
  prod/eu-west-1/default/terraform.tf
  prod/eu-west-1/default/terraform.version
Due: prod_aws_credentials

adding dev vpc1
  dev/eu-west-1/vpc1/main.tf
  dev/eu-west-1/vpc1/terraform.tf
Due: dev_aws_credentials

adding dev vpc1 (#7)
  dev/eu-west-1/vpc1/main.tf
  dev/eu-west-1/vpc1/terraform.tf
Due: dev_aws_credentials

auto approve
  .drone.yml
  .drone_v1.yml
  .drone_v2.yml
Due: none

trigger
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

adding comments
  .drone.yml
  .drone_v1.yml
  .drone_v2.yml
Due: none

destroy dev vpc1
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

destroy dev vpc1 (#8)
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

remove extra drone files
  .drone_v1.yml
  .drone_v2.yml
Due: none

terraform dev vpc1
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

terraform dev vpc1 (#9)
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

prod change
  prod/eu-west-1/default/terraform.tf
Due: prod_aws_credentials

prod change (#10)
  prod/eu-west-1/default/terraform.tf
Due: prod_aws_credentials

destroy vpc1
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

destroy vpc1 (#11)
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

bring back workaround comments
  .drone.yml
Due: none

changing two dirs
  dev/eu-west-1/default/terraform.tf
  dev/eu-west-1/vpc1/terraform.tf
Due: dev_aws_credentials

changing two dirs (#12)
  dev/eu-west-1/default/terraform.tf
  dev/eu-west-1/vpc1/terraform.tf
Due: dev_aws_credentials

bring up dev vpc1
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

bring up dev vpc1 (#13)
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

Revert "bring up dev vpc1 (#13)"
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

Revert "bring up dev vpc1 (#13)" (#14)
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

trigger prod default
  prod/eu-west-1/default/terraform.tf
Due: prod_aws_credentials

add to readme [skip ci]
  README.md
Due: none

bring up dev vpc1 (#17)
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

Revert "bring up dev vpc1 (#17)"
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

Revert "bring up dev vpc1 (#17)" (#18)
  dev/eu-west-1/vpc1/main.tf_
Due: dev_aws_credentials

Revert "changing two dirs (#12)"
  dev/eu-west-1/default/terraform.tf
  dev/eu-west-1/vpc1/terraform.tf
Due: dev_aws_credentials

bring back dev vpc1
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials

bring back dev vpc1 (#20)
  dev/eu-west-1/vpc1/main.tf
Due: dev_aws_credentials
